Flask==2.0.1
gunicorn
Werkzeug==2.0.1
pandas==1.2.4
numpy<1.24,>=1.20
scipy==1.6.3
scikit-learn==0.24.2
statsmodels==0.12.2
seaborn==0.11.1
Jinja2==3.0.1
itsdangerous==2.0.1
python-dateutil==2.8.1
PyYAML==5.4.1
matplotlib==3.4.2
openpyxl  # For handling Excel files
requests==2.25.1
psycopg2-binary==2.8.6  # For Postgres support if needed
